@media screen and (max-width: 767px){
    .sidebar{
        min-width: 91px !important;
    }

    .menu-item__title{
        display: none;
    }
    
    .menu-item__icon{
        font-size: 3rem;
    }

    .menu-item__link{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
    
    }
    
    .collapse{
        display: none !important;
    }
}